<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name={{t "storefront.component.modals.create-store.name"}} @value={{@options.store.name}} @helpText={{t "storefront.component.modals.create-store.name-text"}} />
        <InputGroup
            @name={{t "storefront.component.modals.create-store.description"}}
            @value={{@options.store.description}}
            @helpText={{t "storefront.component.modals.create-store.description-text"}}
        />
        <InputGroup
            @name={{t "storefront.component.modals.create-store.currency"}}
            @value={{@options.store.currency}}
            @helpText={{t "storefront.component.modals.create-store.currency-text"}}
        >
            <CurrencySelect @currency={{@options.store.currency}} @onCurrencyChange={{fn (mut @options.store.currency)}} @triggerClass="w-full form-select" />
        </InputGroup>
    </div>
</Modal::Default>