<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <Storefront::Product::CategoryForm @category={{@options.category}} @uploadNewPhoto={{@options.uploadNewPhoto}} />
    </div>
</Modal::Default>
