<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="flex flex-col items-center justify-center mb-2">
            <FaIcon @icon="stars" @size="4x" class="text-sky-400" />
            <div class="my-2 text-center">
                <h2 class="dark:text-gray-100 font-semibold">Welcome to Storefront!</h2>
                <p class="my-2 px-6 dark:text-gray-100">
                    Storefront allows you to quickly setup a headless and dynamic on-demand shop powered by Fleetbase.
                    Submit the form below to create your first store.
                </p>
            </div>
        </div>
        <div>
            <InputGroup @name="Storefront name" @value={{@options.store.name}} @helpText="Enter the name of your store" />
            <InputGroup @name="Storefront description" @value={{@options.store.description}} @helpText="Give your store a simple brief description on the types of things sold" />
            <InputGroup @name="Storefront currency" @value={{@options.store.currency}} @helpText="Select the default currency for your storefront">
                <CurrencySelect @value={{@options.store.currency}} @onSelect={{fn (mut @options.store.currency)}} @triggerClass="w-full form-select" />
            </InputGroup>
        </div>
    </div>
</Modal::Default>