<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="mb-4 w-full">
            <InputGroup @name="Gateway type" @helpText="Select gateway type">
                <Select class="w-full" @placeholder="Select gateway type" @options={{@options.schemaOptions}} @onSelect={{@options.selectSchema}} @humanize={{true}} />
            </InputGroup>
        </div>

        {{#if @options.schema}}
            <InputGroup @name="Gateway name" @value={{@options.gateway.name}} @helpText="Give your payment gateway a name, this will only be relevent internally" />
            <InputGroup @name="Gateway code" @helpText="Identifier code used to identify gateway to the SDK">
                <KeyInput @name="Gateway code" @value={{@options.gateway.code}} @onChange={{fn (mut @options.gateway.code)}} />
            </InputGroup>
            <InputGroup @name="Callback URL" @value={{@options.gateway.callback_url}} @helpText="Callback URL if applicable" />
            <InputGroup @name="Return URL" @value={{@options.gateway.return_url}} @helpText="Return URL if applicable" />
            <div class="input-group">
                <Checkbox @value={{@options.gateway.sandbox}} @label="This is a sandbox gateway" @onToggle={{fn (mut @options.gateway.sandbox)}} />
            </div>
            <div class="p-2 rounded-md my-2 border border-gray-200 dark:border-gray-800">
                <h4 class="mb-2 font-semibold text-sm dark:text-white">Config</h4>
                {{#each-in @options.schema as |key value|}}
                    {{#if (is-bool-value value)}}
                        <div class="input-group">
                            <Checkbox @value={{value}} @label={{humanize key}} @onToggle={{fn @options.setConfigKey key}} />
                        </div>
                    {{else}}
                        <InputGroup @name={{humanize key}}>
                            <Input class="form-input w-full" placeholder={{humanize key}} @value={{value}} {{on "blur" (fn @options.setConfigKey key)}} />
                        </InputGroup>
                    {{/if}}
                {{/each-in}}
            </div>
        {{/if}}
    </div>
</Modal::Default>