<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{perform this.saveChanges}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <Storefront::Product::AddonManagement @store={{@options.store}} @onReady={{this.setAddonManagement}} />
    </div>
</Modal::Default>
