<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4 text-xs dark:text-gray-100">
            <div class="field-info-container">
                <div class="field-name">{{t "storefront.common.name"}}</div>
                <div class="field-value">{{n-a @options.store.name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "storefront.common.description"}}</div>
                <div class="field-value">{{n-a @options.store.description}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "storefront.common.tag"}}</div>
                <div class="field-value">{{n-a @options.store.tagsList}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "storefront.common.currency"}}</div>
                <div class="field-value">{{n-a @options.store.currency}}</div>
            </div>
        </div>
    </div>
</Modal::Default>