<div class="overflow-y-scroll h-screen">
    <div class="h-screen">
        <main class="h-screen max-w-xl mx-auto pt-4">
            <form class="h-screen" {{on "submit" this.sendPushNotification}}>
                <div class="space-y-4 h-screen">
                    <div>
                        <h1 class="text-lg leading-6 font-bold text-gray-900 dark:text-gray-100">
                            {{t "storefront.promotions.push-notifications.header"}}
                        </h1>
                        <p class="mt-1 text-sm text-gray-500">
                            {{t "storefront.promotions.push-notifications.description"}}
                        </p>
                    </div>

                    <InputGroup
                        @name={{t "storefront.promotions.push-notifications.title-label"}}
                        @value={{this.title}}
                        @placeholder={{t "storefront.promotions.push-notifications.title-placeholder"}}
                        @helpText={{t "storefront.promotions.push-notifications.title-help-text"}}
                    />

                    <InputGroup
                        @name={{t "storefront.promotions.push-notifications.body-label"}}
                        @type="textarea"
                        @value={{this.body}}
                        @placeholder={{t "storefront.promotions.push-notifications.body-placeholder"}}
                        @helpText={{t "storefront.promotions.push-notifications.body-help-text"}}
                    />

                    <div class="mb-4">
                        <Toggle @isToggled={{this.selectAllCustomers}} @onToggle={{fn (mut this.selectAllCustomers)}} @wrapperClass="justify-start">
                            <span class="text-sm font-semibold dark:text-gray-100">{{t "storefront.promotions.push-notifications.select-all-customers"}}</span>
                            <span class="text-xs text-gray-500 block">{{t "storefront.promotions.push-notifications.select-all-customers-help-text"}}</span>
                        </Toggle>
                    </div>

                    {{#unless this.selectAllCustomers}}
                        <InputGroup @name={{t "storefront.promotions.push-notifications.customers-label"}}>
                            <ModelSelectMultiple
                                @modelName="contact"
                                @query={{hash type="customer"}}
                                @selectedModel={{this.selectedCustomers}}
                                @placeholder={{t "storefront.promotions.push-notifications.customers-placeholder"}}
                                @triggerClass="form-select form-input multiple"
                                @infiniteScroll={{true}}
                                @renderInPlace={{true}}
                                @onChange={{fn (mut this.selectedCustomers)}}
                                as |model|
                            >
                                {{model.name}}
                            </ModelSelectMultiple>
                        </InputGroup>
                    {{/unless}}

                    <div class="flex justify-end">
                        <Button
                            @type="primary"
                            @icon={{if this.isLoading "spinner" "paper-plane"}}
                            @iconPrefix={{if this.isLoading "fas fa-spin" "fas"}}
                            @text={{t "storefront.promotions.push-notifications.send-button"}}
                            @isLoading={{this.isLoading}}
                            @disabled={{this.isLoading}}
                            @onClick={{this.sendPushNotification}}
                        />
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
