<div class="storefront-dashboard-widget storefront-chart-widget flex h-full flex-col rounded-md border bg-white shadow-sm dark:bg-gray-800" ...attributes>
    <div class="storefront-widget-header">
        <div>
            <div class="storefront-widget-title">Order Status Mix</div>
            <div class="storefront-widget-subtitle">{{or this.data.total 0}} orders this period</div>
        </div>
        <Button @icon="refresh" @size="xs" @onClick={{perform this.load}} />
    </div>

    <div class="storefront-chart-body">
        {{#if this.error}}
            <div class="storefront-widget-empty">{{this.error}}</div>
        {{else if this.load.isRunning}}
            <div class="storefront-widget-empty"><Spinner /></div>
        {{else if this.hasData}}
            <div class="storefront-chart-frame">
                <Chart @type="bar" @labels={{this.data.labels}} @datasets={{this.data.datasets}} @options={{this.chartOptions}} />
            </div>
        {{else}}
            <div class="storefront-widget-empty">No order activity yet.</div>
        {{/if}}
    </div>
</div>
