<SettingsContainer>
    <form>
        <div class="space-y-6">
            <div class="flex justify-between">
                <div>
                    <h1 class="text-lg leading-6 font-bold text-gray-900 dark:text-gray-100">
                        Gateway Settings
                    </h1>
                    <p class="mt-1 text-sm text-gray-500">
                        Add or manage your payment gateway settings here.
                    </p>
                </div>
                <div>
                    <Button @icon="plus" @iconPrefix="fas" @type="primary" @text="Create new gateway" @onClick={{this.createGateway}} />
                </div>
            </div>

            {{#each this.gateways as |gateway|}}
                <ContentPanel @title={{gateway.name}} @open={{true}} @pad={{true}}>
                    <InputGroup @name="Gateway name" @value={{gateway.name}} @helpText="Give your payment gateway a name, this will only be relevent internally" />
                    <InputGroup @name="Gateway code" @value={{gateway.code}} @disabled={{true}} @helpText="Identifier code used to identify gateway to the SDK" />
                    <InputGroup @name="Callback URL" @value={{gateway.callback_url}} @helpText="Callback URL if applicable" />
                    <InputGroup @name="Return URL" @value={{gateway.return_url}} @helpText="Return URL if applicable" />
                    <div class="input-group">
                        <Checkbox @value={{gateway.sandbox}} @label="This is a sandbox gateway" @onToggle={{fn (mut gateway.sandbox)}} />
                    </div>
                    <div>
                        <h4 class="mb-2 font-semibold text-sm dark:text-white">Config</h4>
                        {{#each-in gateway.config as |key value|}}
                            {{#if (is-bool-value value)}}
                                <div class="input-group">
                                    <Checkbox @value={{value}} @label={{humanize key}} />
                                </div>
                            {{else}}
                                <InputGroup @name={{humanize key}}>
                                    <Input class="form-input w-full" placeholder={{humanize key}} @value={{value}} />
                                </InputGroup>
                            {{/if}}
                        {{/each-in}}
                    </div>
                    <div>
                        <Button @size="sm" @type="danger" @icon="trash" @text="Delete payment gateway" @onClick={{fn this.deleteGateway gateway}} />
                    </div>
                </ContentPanel>
            {{/each}}
        </div>
    </form>
</SettingsContainer>