<SettingsContainer>
    <form>
        <div class="space-y-6">
            <div class="flex justify-between">
                <div class="w-3/4">
                    <h1 class="text-lg leading-6 font-bold text-gray-900 dark:text-gray-100">
                        {{t "storefront.settings.notification.notification-settings"}}
                    </h1>
                    <p class="mt-1 text-sm text-gray-500">
                        {{t "storefront.settings.notification.notification-storefront"}}
                    </p>
                </div>
                <div>
                    <Button @icon="plus" @iconPrefix="fas" @type="primary" @text={{t "storefront.settings.notification.new-channel"}} @onClick={{this.createChannel}} />
                </div>
            </div>

            <div class="space-y-3">
                {{#each @model as |notificationChannel|}}
                    <div class="flex px-4 py-2 items-center justify-between shadow-sm rounded-md dark:bg-gray-900 bg-gray-200 border border-gray-200 dark:border-gray-700">
                        <div>
                            <span class="dark:text-gray-50">{{notificationChannel.name}}</span>
                        </div>
                        <div class="flex items-center">
                            <Button @size="xs" @type="default" @text={{t "storefront.common.edit"}} @wrapperClass="mr-2" @onClick={{fn this.editChannel notificationChannel}} />
                            <Button @size="xs" @type="danger" @text={{t "storefront.common.delete"}} @onClick={{fn this.deleteChannel notificationChannel}} />
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </form>
</SettingsContainer>