<div class="space-y-4 px-6 py-4">
    <ContentPanel @title={{t "storefront.networks.index.network.index.title"}} @open={{true}} @pad={{true}}>
        <div class="space-y-4">
            <div>
                <h1 class="text-lg leading-6 font-bold text-gray-900 dark:text-gray-100">
                    {{t "storefront.network.index.general-network"}}
                </h1>
                <p class="mt-1 text-sm text-gray-500">
                    {{t "storefront.network.index.general-settings"}}
                </p>
            </div>

            <InputGroup @name={{t "storefront.common.name"}} @value={{@model.name}} @placeholder={{t "storefront.networks.index.network.index.placeholder"}} @helpText={{t "storefront.networks.index.network.index.helpText"}} />
            <InputGroup @name={{t "storefront.common.description"}} @value={{@model.description}} @placeholder={{t "storefront.networks.index.network.index.placeholder-description"}} @helpText={{t "storefront.networks.index.network.index.helpText-about"}} />
            <InputGroup @name={{t "storefront.common.currency"}}>
                <CurrencySelect @value={{@model.currency}} @onSelect={{fn (mut @model.currency)}} @triggerClass="w-full form-select" />
            </InputGroup>

            <ContentPanel @title={{t "storefront.networks.index.network.index.title-contact"}} @open={{false}} @pad={{true}}>
                <InputGroup @name={{t "storefront.common.phone"}}>
                    <PhoneInput @value={{@model.phone}} @onInput={{fn (mut @model.phone)}} class="form-input w-full" />
                </InputGroup>
                <InputGroup @name={{t "storefront.common.email"}} @value={{@model.email}} @placeholder={{t "storefront.common.email"}} @helpText={{t "storefront.networks.index.network.index.helpText-email"}} />
                <InputGroup @name={{t "storefront.common.website"}} @value={{@model.website}} @placeholder={{t "storefront.common.website"}} @helpText={{t "storefront.networks.index.network.index.helpText-url"}} />
                <InputGroup @name={{t "storefront.networks.index.network.index.facebook"}} @value={{@model.facebook}} @placeholder={{t "storefront.networks.index.network.index.placeholder-facebook"}} @helpText={{t "storefront.networks.index.network.index.helpText-facebook"}} />
                <InputGroup @name={{t "storefront.networks.index.network.index.instagram"}} @value={{@model.instagram}} @placeholder={{t "storefront.networks.index.network.index.placeholder-instagram"}} @helpText={{t "storefront.networks.index.network.index.helpText-instagram"}} />
                <InputGroup @name={{t "storefront.networks.index.network.index.twitter"}} @value={{@model.twitter}} @placeholder={{t "storefront.networks.index.network.index.placeholder-twitter"}} @helpText={{t "storefront.networks.index.network.index.helpText-twitter"}} />
            </ContentPanel>

            <ContentPanel @title={{t "storefront.common.logo"}} @open={{false}} @pad={{true}}>
                <InputGroup @name={{t "storefront.networks.index.network.index.name"}} @helpText={{t "storefront.networks.index.network.index.helpText-logo"}}>
                    <div class="flex flex-row items-center">
                        <img src={{@model.logo_url}} alt={{concat @model.name " logo"}} class="h-20 w-64 border dark:border-gray-900 rounded-md mr-4" />
                        <FileUpload @name={{t "storefront.common.logo"}} @accept="image/*" @onFileAdded={{fn this.uploadFile "storefront_logo"}} as |queue|>
                            <a tabindex={{0}} class="flex items-center px-0 mt-2 text-xs no-underline truncate btn btn-sm btn-default">
                                {{#if queue.files.length}}
                                    <Spinner class="mr-1" />
                                    <span>
                                        {{t "storefront.common.uploading"}}
                                    </span>
                                {{else}}
                                    <FaIcon @icon="image" class="mr-1" />
                                    <span>
                                        {{t "storefront.networks.index.network.index.upload-logo"}}
                                    </span>
                                {{/if}}
                            </a>
                        </FileUpload>
                    </div>
                </InputGroup>

                <InputGroup @name={{t "storefront.networks.index.network.index.name-backdrop"}} @helpText={{t "storefront.networks.index.network.index.helpText-store"}}>
                    <div class="flex flex-row items-center">
                        <img src={{@model.backdrop_url}} alt={{concat @model.name " backdrop"}} class="h-20 w-64 border dark:border-gray-900 rounded-md mr-4" />
                        <FileUpload @name={{t "storefront.common.backdrop"}} @accept="image/*" @onFileAdded={{fn this.uploadFile "storefront_backdrop"}} as |queue|>
                            <a tabindex={{0}} class="flex items-center px-0 mt-2 text-xs no-underline truncate btn btn-sm btn-default">
                                {{#if queue.files.length}}
                                    <Spinner class="mr-1" />
                                    <span>
                                        {{t "storefront.common.uploading"}}
                                    </span>
                                {{else}}
                                    <FaIcon @icon="image" class="mr-1" />
                                    <span>
                                        {{t "storefront.networks.index.network.index.upload-backdrop"}}
                                    </span>
                                {{/if}}
                            </a>
                        </FileUpload>
                    </div>
                </InputGroup>
            </ContentPanel>

            <ContentPanel @title={{t "storefront.alerts"}} @open={{false}} @pad={{true}} @panelBodyClass="bg-gray-800">
                <div>
                    <p class="dark:text-gray-100 mb-4">{{t "storefront.networks.index.network.index.certain-event"}}</p>
                    <InputGroup @name={{t "storefront.networks.index.network.index.new-order"}} @wrapperClass="mb-0">
                        <ModelSelectMultiple @modelName="user" @selectedModel={{@model.alertable.for_new_order}} @placeholder={{t "storefront.networks.index.network.index.placeholder-order"}} @triggerClass="form-select form-input multiple" @infiniteScroll={{false}} @renderInPlace={{true}} @onChange={{fn this.makeAlertable "for_new_order"}} as |model|>
                            {{model.name}}
                        </ModelSelectMultiple>
                    </InputGroup>
                </div>
            </ContentPanel>

            <div class="store-boolean-settings">
                <div class="input-group">
                    <Toggle @isToggled={{@model.online}} @onToggle={{fn (mut @model.online)}}>
                        <FaIcon @icon="plug" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.common.online"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.tax_enabled}} @onToggle={{fn (mut @model.options.tax_enabled)}}>
                        <FaIcon @icon="percent" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.enable-tax"}}</span>
                    </Toggle>
                    {{#if @model.options.tax_enabled}}
                        <InputGroup @wrapperClass="mb-0 mt-2" @type="number" @name={{t "storefront.networks.index.network.index.name-tax"}} @value={{@model.options.tax_percentage}} @placeholder={{t "storefront.networks.index.network.index.placeholder-tax"}} @helpText={{t "storefront.networks.index.network.index.helpText-tax"}} />
                    {{/if}}
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.auto_accept_orders}} @onToggle={{fn (mut @model.options.auto_accept_orders)}}>
                        <FaIcon @icon="robot" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.auto-accept"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.auto_dispatch}} @onToggle={{fn (mut @model.options.auto_dispatch)}}>
                        <FaIcon @icon="paper-plane" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.auto-dispatch"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.require_pod}} @onToggle={{fn (mut @model.options.require_pod)}}>
                        <FaIcon @icon="signature" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.require-delivery"}}</span>
                    </Toggle>
                    {{#if @model.options.require_pod}}
                        <InputGroup @wrapperClass="mb-0 mt-2" @name={{t "storefront.networks.index.network.index.name-method"}}>
                            <Select @options={{this.podMethods}} @optionValue="value" @optionLabel="name" @value={{@model.pod_method}} @onSelect={{fn (mut @model.pod_method)}} class="w-full" />
                        </InputGroup>
                    {{/if}}
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.cod_enabled}} @onToggle={{fn (mut @model.options.cod_enabled)}}>
                        <FaIcon @icon="money-bill-wave" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.cash-delivery"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.pickup_enabled}} @onToggle={{fn (mut @model.options.pickup_enabled)}}>
                        <FaIcon @icon="person-booth" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.enable-order"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.tips_enabled}} @onToggle={{fn (mut @model.options.tips_enabled)}}>
                        <FaIcon @icon="cash-register" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.enable-tip"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.delivery_tips_enabled}} @onToggle={{fn (mut @model.options.delivery_tips_enabled)}}>
                        <FaIcon @icon="face-smile" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.enable-delivery"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.multi_cart_enabled}} @onToggle={{fn (mut @model.options.multi_cart_enabled)}}>
                        <FaIcon @icon="gifts" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.enable-cart"}}</span>
                    </Toggle>
                </div>
                <div class="input-group">
                    <Toggle @isToggled={{@model.options.reviews_enabled}} @onToggle={{fn (mut @model.options.reviews_enabled)}}>
                        <FaIcon @icon="star" @prefix="fas" class="text-gray-600 dark:text-gray-400 mx-2" /><span class="dark:text-gray-100 text-sm">{{t "storefront.networks.index.network.index.enable-review"}}</span>
                    </Toggle>
                </div>
            </div>

            <div class="flex justify-end">
                <Button @type="primary" @text={{t "storefront.networks.index.network.index.save-changes"}} @icon="save" @size="lg" @isLoading={{this.isLoading}} @onClick={{this.saveSettings}} />
            </div>
        </div>
    </ContentPanel>

    <ContentPanel @title={{t "storefront.common.api"}} @open={{false}} @pad={{true}}>
        <div class="space-y-6">
            <div>
                <h1 class="text-lg leading-6 font-bold text-gray-900 dark:text-gray-100">
                    {{t "storefront.networks.index.network.index.api-settings"}}
                </h1>
                <p class="mt-1 text-sm text-gray-500">
                    {{t "storefront.networks.index.network.index.access-key"}}
                </p>
            </div>

            <InputGroup @name={{t "storefront.networks.index.network.index.name-network"}} @helpText={{t "storefront.networks.index.network.index.helpText-network"}}>
                <ClickToReveal @value={{@model.key}} @clickToCopy={{true}} class="form-input disabled" />
            </InputGroup>
        </div>
    </ContentPanel>

    <ContentPanel @title={{t "storefront.networks.index.network.index.title-gateways"}} @open={{false}} @pad={{true}}>
        <div class="space-y-6">
            <div class="flex justify-between">
                <div>
                    <h1 class="text-lg leading-6 font-bold text-gray-900 dark:text-gray-100">
                        {{t "storefront.networks.index.network.index.gateways-settings"}}
                    </h1>
                    <p class="mt-1 text-sm text-gray-500">
                        {{t "storefront.networks.index.network.index.payment-gateways"}}
                    </p>
                </div>
                <div>
                    <Button @icon="plus" @iconPrefix="fas" @type="primary" @text=t{{ "storefront.networks.index.network.index.text-getways"}} @onClick={{this.createGateway}} />
                </div>
            </div>

            {{#each this.gateways as |gateway|}}
                <ContentPanel @title={{gateway.name}} @open={{true}} @pad={{true}}>
                    <InputGroup @name={{t "storefront.networks.index.network.index.name-gateways"}} @value={{gateway.name}} @helpText={{t "storefront.networks.index.network.index.helpText-internally"}} />
                    <InputGroup @name={{t "storefront.networks.index.network.index.name-code"}} @value={{gateway.code}} @disabled={{true}} @helpText={{t "storefront.networks.index.network.index.helpText-sdk"}} />
                    <InputGroup @name={{t "storefront.networks.index.network.index.name-url"}} @value={{gateway.callback_url}} @helpText={{t "storefront.networks:index.network.index.helpText-url"}} />
                    <InputGroup @name={{t "storefront.networks.index.network.index.name-return"}} @value={{gateway.return_url}} @helpText={{t "storefront.networks.index.network.index.helpText-return"}} />
                    <div class="input-group">
                        <Checkbox @value={{gateway.sandbox}} @label="This is a sandbox gateway" @onToggle={{fn (mut gateway.sandbox)}} />
                    </div>
                    <div>
                        <h4 class="mb-2 font-semibold text-sm dark:text-white">{{t "storefront.common.config"}}</h4>
                        {{#each-in gateway.config as |key value|}}
                            {{#if (is-bool-value value)}}
                                <div class="input-group">
                                    <Checkbox @value={{value}} @label={{humanize key}} />
                                </div>
                            {{else}}
                                <InputGroup @name={{humanize key}}>
                                    <Input class="form-input w-full" placeholder={{humanize key}} @value={{value}} />
                                </InputGroup>
                            {{/if}}
                        {{/each-in}}
                    </div>
                    <div>
                        <Button @size="sm" @type="danger" @icon="trash" @text={{t "storefront.networks.index.network.index.text-delete"}} @onClick={{fn this.deleteGateway gateway}} />
                    </div>
                </ContentPanel>
            {{/each}}
        </div>
    </ContentPanel>

    <ContentPanel @title={{t "storefront.networks.index.network.index.title-channel"}} @open={{false}} @pad={{true}}>
        <div class="space-y-6">
            <div class="flex justify-between">
                <div class="w-3/4">
                    <h1 class="text-lg leading-6 font-bold text-gray-900 dark:text-gray-100">
                        {{t "storefront.networks.index.network.index.notification-setting"}}
                    </h1>
                    <p class="mt-1 text-sm text-gray-500">
                        {{t "storefront.networks.index.network.index.storefront-channel"}}
                    </p>
                </div>
                <div>
                    <Button @icon="plus" @iconPrefix="fas" @type="primary" @text={{t "storefront.networks.index.network.index.text-new-channel"}} @onClick={{this.createChannel}} />
                </div>
            </div>

            <div class="space-y-3">
                {{#each this.channels as |notificationChannel|}}
                    <div class="flex px-4 py-2 items-center justify-between shadow-sm rounded-md dark:bg-gray-900 bg-gray-200">
                        <div>
                            <span class="dark:text-gray-50">{{notificationChannel.name}}</span>
                        </div>
                        <div class="flex items-center">
                            <Button @size="xs" @type="default" @text={{t "storefront.common.edit"}} @wrapperClass="mr-2" @onClick={{fn this.editChannel notificationChannel}} />
                            <Button @size="xs" @type="danger" @text={{t "storefront.common.delete"}} @onClick={{fn this.deleteChannel notificationChannel}} />
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </ContentPanel>
</div>