<Overlay @position="right" @noBackdrop={{true}} @isResizable={{true}} @width="570px" @fullHeight={{true}} @containerClass="border-l border-transparent dark:border-gray-700">
    <Overlay::Header
        @title={{this.overlayTitle}}
        @titleClass="truncate"
        @titleWrapperClass="w-3/4"
        @headerLeftClass="w-70pc"
        @headerLeftInnerClass="w-full flex-1"
        @onPressCancel={{this.transitionBack}}
    >
        <Button
            @icon={{this.overlayActionButtonIcon}}
            @type="primary"
            @text={{this.overlayActionButtonTitle}}
            @onClick={{perform this.saveProduct}}
            @isLoading={{not this.saveProduct.isIdle}}
        />
    </Overlay::Header>

    <Overlay::Body @increaseInnerBodyHeightBy="0" @wrapperClass="new-order-overlay-body px-4 space-y-4 pt-4">
        <InputGroup @name="Product Name" @value={{this.product.name}} @helpText="Enter your product's name" />
        <InputGroup @name="Product Description" @helpText="Enter a description of your product">
            <Textarea @value={{this.product.description}} class="form-input w-full" placeholder="Enter a description of your product...." rows={{4}} />
        </InputGroup>
        <InputGroup @name="Product Tags">
            <TagInput
                class="form-input"
                @placeholder="Add tags"
                @allowSpacesInTags={{true}}
                @tags={{this.product.tags}}
                @addTag={{this.addTag}}
                @removeTagAtIndex={{this.removeTag}}
                as |tag|
            >
                {{tag}}
            </TagInput>
        </InputGroup>
        <InputGroup @name="Product SKU" @value={{this.product.sku}} @helpText="Enter product SKU if applicable" />
        <div class="grid grid-cols-2 gap-2">
            <InputGroup @name="Price" @helpText="Enter a price users will pay to purchase this product">
                <MoneyInput
                    class="w-full"
                    @currency={{if this.product.currency this.product.currency this.activeStore.currency}}
                    @value={{this.product.price}}
                    @canSelectCurrency={{false}}
                    @onCurrencyChange={{fn (mut this.product.currency)}}
                />
            </InputGroup>
            <InputGroup @name="Sale Price" @helpText="Optionally add a sale price for the product if the product is put on sale">
                <MoneyInput
                    class="w-full"
                    @currency={{if this.product.currency this.product.currency this.activeStore.currency}}
                    @value={{this.product.sale_price}}
                    @canSelectCurrency={{false}}
                    @onCurrencyChange={{fn (mut this.product.currency)}}
                />
            </InputGroup>
        </div>

        <ContentPanel
            @title="Metadata"
            @open={{this.product.meta_array.length}}
            @actionButtons={{this.metadataButtons}}
            @pad={{true}}
            @panelBodyWrapperClass="px-0 py-4"
            @panelBodyClass="bg-white dark:bg-gray-800"
        >
            {{#each this.product.meta_array as |metaField index|}}
                <div class="px-4 py-3 border-b border-gray-200 dark:border-gray-700">
                    <div class="input-group">
                        <div class="flex justify-between items-center mb-1">
                            <Input class="form-input border-0 px-2 py-1 m-0 bg-white dark:bg-gray-900 shadow-none" @value={{metaField.label}} placeholder={{metaField.label}} />
                            <a href="javascript:;" class="text-xs" tabindex="-1" {{on "click" (fn this.removeMetaField index)}}>
                                <FaIcon @icon="trash" @size="sm" class="mr-1" />
                                Remove
                            </a>
                        </div>
                        <Input class="w-full form-input" @value={{metaField.value}} placeholder={{metaField.label}} />
                    </div>
                </div>
            {{/each}}
        </ContentPanel>

        <InputGroup>
            <TranslationsEditor @value={{this.product.translations}} @defaultKeys={{array "name" "description"}} @onChange={{fn (mut this.product.translations)}} />
        </InputGroup>

        <div class="store-boolean-settings">
            <div class="input-group mb-0">
                <Checkbox @value={{this.product.is_service}} @onToggle={{fn (mut this.product.is_service)}}>
                    <FaIcon @icon="house-leave" class="text-indigo-400 mx-2" /><span class="dark:text-gray-100 text-sm">This is a service</span>
                </Checkbox>
            </div>

            {{#if this.product.is_service}}
                <div class="input-group mb-0">
                    <Checkbox @value={{this.product.is_bookable}} @onToggle={{fn (mut this.product.is_bookable)}}>
                        <FaIcon @icon="calendar-star" class="text-yellow-400 mx-2" /><span class="dark:text-gray-100 text-sm">This service is bookable</span>
                    </Checkbox>
                </div>
            {{/if}}

            <div class="input-group mb-0">
                <Checkbox @value={{this.product.is_on_sale}} @onToggle={{fn (mut this.product.is_on_sale)}}>
                    <FaIcon @icon="badge-percent" class="text-blue-400 mx-2" /><span class="dark:text-gray-100 text-sm">This product is on sale</span>
                </Checkbox>
            </div>

            <div class="input-group">
                <Checkbox @value={{this.product.is_recommended}} @onToggle={{fn (mut this.product.is_recommended)}}>
                    <FaIcon @icon="check" class="text-green-400 mx-2" /><span class="dark:text-gray-100 text-sm">This product is recommended</span>
                </Checkbox>
            </div>

            <div class="input-group">
                <Checkbox @value={{this.product.is_available}} @onToggle={{fn (mut this.product.is_available)}}>
                    <FaIcon @icon="eye" class="text-blue-400 mx-2" /><span class="dark:text-gray-100 text-sm">This product is available</span>
                </Checkbox>
            </div>
        </div>

        <ContentPanel @title="Variants" @open={{true}} @pad={{false}} @panelBodyWrapperClass="px-0 py-4" @panelBodyClass="bg-white dark:bg-gray-800">
            <div class="content-panel-body p-4">
                <div class="flex items-center justify-end">
                    <Button @text="New Variant" @icon="plus" @iconPrefix="fas" @onClick={{this.createProductVariant}} />
                </div>
            </div>
            <Tabs as |Tab|>
                {{#each this.product.variants as |variant|}}
                    <Tab @title={{variant.name}}>
                        <div class="px-4 py-3">
                            <div class="flex items-center justify-end mb-3">
                                <Button class="mr-2" @type="danger" @text="Remove Variant" @icon="trash" @onClick={{fn this.removeProductVariant variant}} />
                                <Button class="mr-2" @type="warning" @text="Edit Variant" @icon="pencil" @onClick={{fn this.editProductVariant variant}} />
                                <Button @text={{concat "New " (lowercase variant.name) " option"}} @icon="plus" @iconPrefix="fas" @onClick={{fn this.addVariantOption variant}} />
                            </div>
                            <div class="space-y-2">
                                {{#each variant.options as |variantOption index|}}
                                    <div class="grid grid-cols-9 gap-1 px-3 py-2 rounded-md dark:bg-gray-900 bg-gray-50">
                                        <div class="col-span-2">
                                            <Input @type="text" @value={{variantOption.name}} class="form-input w-full" placeholder="Option Name" />
                                        </div>
                                        <div class="col-span-4">
                                            <Input @type="text" @value={{variantOption.description}} class="form-input w-full" placeholder="Option Description" />
                                        </div>
                                        <div class="col-span-2">
                                            <MoneyInput
                                                class="w-full"
                                                @currency={{if this.product.currency this.product.currency this.activeStore.currency}}
                                                @canSelectCurrency={{false}}
                                                @value={{variantOption.additional_cost}}
                                            />
                                        </div>
                                        <div class="flex items-center justify-center text-center text-sm">
                                            <a href="javascript:;" {{on "click" (fn this.removeVariantOption variant index)}}>Remove</a>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </Tab>
                {{/each}}
            </Tabs>
        </ContentPanel>

        <ContentPanel @title="Add-Ons" @open={{true}} @pad={{false}} @panelBodyWrapperClass="px-0 py-4" @panelBodyClass="bg-white dark:bg-gray-800">
            <div class="px-4">
                <div class="flex items-center justify-end mb-3">
                    <Button @text="Select Addon Categories" @icon="plus" @iconPrefix="fas" @onClick={{perform this.promptSelectAddonCategories}} />
                </div>
                <div class="space-y-2">
                    {{#each this.product.addon_categories as |addonCategory index|}}
                        <div>
                            <div class="flex items-center rounded-md shadow-sm px-3 py-2 font-semibold bg-gray-200 dark:bg-gray-900 dark:text-gray-100 mb-2">
                                <div class="flex-1 flex items-center">
                                    <FaIcon @icon="pencil" class="mr-1 dark:text-gray-100" />
                                    <div class="w-full px-2 m-0 border-none bg-transparent dark:text-gray-100">
                                        {{addonCategory.name}}
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <a href="javascript:;" class="destroy-action opacity-50 hover:opacity-100 text-sm" {{on "click" (fn this.removeAddonCategory index)}}>Remove</a>
                                </div>
                            </div>
                            <div class="space-y-2 mb-2">
                                {{#each addonCategory.category.addons as |addon|}}
                                    <div class="grid grid-cols-10 gap-1 px-3 py-2 rounded-md border border-gray-200 dark:border-gray-900 dark:text-gray-100 dark:bg-gray-800 bg-gray-200">
                                        <div class="flex items-center">
                                            <Checkbox @value={{not (in-array addon.id addonCategory.excluded_addons)}} @onToggle={{fn this.excludeAddon index addon}} />
                                        </div>
                                        <div class="col-span-3 flex items-center">
                                            {{addon.name}}
                                        </div>
                                        <div class="col-span-4">
                                            {{addon.description}}
                                        </div>
                                        <div class="col-span-2">
                                            {{format-currency addon.price}}
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </ContentPanel>

        <ContentPanel @title="Availability" @open={{this.product.hours.length}} @pad={{false}} @panelBodyWrapperClass="px-0 py-4" @panelBodyClass="bg-white dark:bg-gray-800">
            <div class="px-4 py-3">
                <ScheduleManager @subject={{this.product}} @subjectKey="product_uuid" @hourModelType="product-hour" class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-2" />
            </div>
        </ContentPanel>

        <ContentPanel @title="Images & Videos" @open={{this.product.files.length}} @pad={{false}} @panelBodyWrapperClass="px-0 py-4" @panelBodyClass="bg-white dark:bg-gray-800">
            <div class="px-6 space-y-4">
                {{#if this.isUploading}}
                    <div
                        class="min-h-56 dropzone w-full rounded-lg px-4 py-8 min-h bg-gray-50 dark:bg-gray-900 bg-opacity-25 text-gray-900 dark:text-white text-center flex flex-col items-center justify-center border-2 border-dashed border-gray-200 dark:border-indigo-500"
                    >
                        <div class="flex items-center justify-center py-5">
                            <Spinner class="text-sm dar:text-gray-100" @loadingMessage={{t "component.dropzone.uploading"}} />
                        </div>
                    </div>
                {{else}}
                    {{#let (file-queue name="files" onFileAdded=this.queueFile accept=(join "," this.acceptedFileTypes)) as |queue|}}
                        <FileDropzone @queue={{queue}} class="dropzone file-dropzone" as |dropzone|>
                            {{#if dropzone.active}}
                                {{#if dropzone.valid}}
                                    {{t "component.dropzone.drop-to-upload"}}
                                {{else}}
                                    {{t "component.dropzone.invalid"}}
                                {{/if}}
                            {{else if queue.files.length}}
                                <div class="my-2">
                                    <FaIcon @icon="photo-video" class="text-indigo-500 mr-2" />
                                    {{t "component.dropzone.files-ready-for-upload" numOfFiles=(pluralize queue.files.length (t "component.dropzone.file"))}}
                                </div>
                                <div class="my-2">({{queue.progress}}%)</div>
                            {{else}}
                                <h4 class="font-semibold mb-8">
                                    <FaIcon @icon="photo-video" @size="2x" class="text-indigo-500 mr-2" />
                                    {{t "component.dropzone.upload-images-videos"}}
                                </h4>
                                <div>
                                    {{#if dropzone.supported}}
                                        <p class="text-base font-semibold my-5">{{t "component.dropzone.dropzone-supported-images-videos"}}</p>
                                    {{/if}}
                                    <FileUpload @name="files" @for="files" @accept={{join "," this.acceptedFileTypes}} @multiple={{true}} @onFileAdded={{this.queueFile}}>
                                        <a tabindex={{0}} class="btn btn-magic cursor-pointer ml-1">{{t "component.dropzone.or-select-button-text"}}</a>
                                    </FileUpload>
                                </div>
                            {{/if}}
                        </FileDropzone>
                    {{/let}}
                    {{#if this.uploadQueue}}
                        <div class="mx-4">
                            <div class="flex items-center justify-between mb-4">
                                <span class="leading-6 dark:text-gray-100">{{t "component.dropzone.upload-queue"}}</span>
                            </div>
                            <div class="space-y-2 mb-4">
                                {{#each this.uploadQueue as |file|}}
                                    <div class="flex items-center justify-between bg-blue-100 border border-blue-800 dark:border-blue-800 py-1.5 shadow-sm rounded-lg px-4">
                                        <div class="text-xs text-blue-900 truncate">{{truncate-filename file.name 50}}</div>
                                        <div class="flex items-center text-sm">
                                            <Spinner class="text-blue-900 mr-2" />
                                            <span class="font-bold text-blue-900">{{round file.progress}}%</span>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/if}}
                    <div>
                        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4">
                            {{#each this.product.files as |file|}}
                                <FileRecord @file={{file}} @fileIconClass={{if (eq this.product.primary_image_uuid file.id) "border-blue-400"}} @onDelete={{this.removeFile}}>
                                    <div class="flex items-center justify-evenly">
                                        <Button
                                            @icon="magic"
                                            @text="Make Primary"
                                            @size="xs"
                                            @textClass="text-xs truncate"
                                            @onClick={{fn this.makePrimaryFile file}}
                                            @disabled={{eq this.product.primary_image_uuid file.id}}
                                        />
                                    </div>
                                </FileRecord>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </ContentPanel>

        <ContentPanel @title="Youtube Videos" @open={{this.product.youtube_urls.length}} @wrapperClass="mb-12" @panelBodyWrapperClass="p-4" @panelBodyClass="bg-white dark:bg-gray-800">
            <p class="text-sm">Add YouTube video urls to assosciate with this product or service.</p>
            <div class="input-group">
                <ArrayInput @data={{this.product.youtube_urls}} @placeholder="Enter youtube video url" @onDataChanged={{fn (mut this.product.youtube_urls)}}>
                    <InputLabel @labelText="Youtube Video URLs" @helpText="Input product youtube video urls if applicable." />
                </ArrayInput>
            </div>
        </ContentPanel>
        <Spacer @height="300px" />
    </Overlay::Body>
</Overlay>